:root {
    --dark: #515E90;
    --black: #1C1D23;
    --white:#ffffff;
    --red: #FB5F55;
    --orange: #FF9264;
    --green: #28C483;
    --gray: #B9B9C3;
    --gray-1: #77797D;
    --blue: #2FA8FF;
    --blue-filter: #295DED;
    --text-dark-blue: #7A8CBB;
    --text-dark-blue-1: #182869;
    --grey-background: #EBEBF3;
    --accent: #7367F0;


    --el-popper-border-radius: 6px;
    --el-text-color-primary:#515E90;
    --el-color-info:#FFF;
}
